@charset "UTF-8";

.gridCell {
  margin: 0px;
  padding: 0px;
  padding-right: 0.5px;
  padding-bottom: 0.5px;
  background-color: darkblue;

  .cell {
    background-color: white;
    height: 100%;
  }

  .row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
  }

  .col {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0.5px;
    background-color: transparent;

    flex-basis: 100%;
    max-width: 100%;
  }

  @for $i from 1 through 24 {
    .col#{$i} {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding: 0.5px;
      background-color: transparent;

      flex-basis: $i/24 * 100%;
      max-width: $i/24 * 100%;
    }
  }
}
